@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Open+Sans:wght@300;800&family=Poppins:wght@100&family=Rubik:wght@300;500&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.fondo-nav {
  background-color: rgba(0, 0, 0, 0.8078431373);
}

.jumbotron {
  height: 350px;
  margin-bottom: 0px;
  background-image: url(./pages/img/rack.jpg);
  background-size: cover;
  background-position: center;
  color: floralwhite;
  border-radius: 0%;
}

.divisor1 {
  height: 35px;
  width: 100%;
  grid-area: divisor1;
  text-align: center;
  padding-top: 7px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8078431373);
  color: #fff;
  font-family: "Rubik", sans-serif;
}

.inicio {
  height: auto;
  width: 100%;
  display: grid;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  grid-template-areas: "item1 item3" "item2 item4" "item5 item7" "item6 item8";
}

.item:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  text-decoration: none;
  color: burlywood;
}

.item1 {
  grid-area: item1;
  height: 300px;
  margin: 15px;
  background-image: url(./pages/img/sillon.jpg);
  background-size: cover;
  background-position: center;
}

.item2 {
  grid-area: item2;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8078431373);
}

.item3 {
  grid-area: item3;
  height: 300px;
  margin: 15px;
  background-image: url(./pages/img/mesaJulia.jpg);
  background-size: cover;
  background-position: center;
}

.item4 {
  grid-area: item4;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8078431373);
}

.item5 {
  grid-area: item5;
  height: 300px;
  margin: 15px;
  background-image: url(./pages/img/vanitory.jpg);
  background-size: cover;
  background-position: top;
}

.item6 {
  grid-area: item6;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.8078431373);
}

.item7 {
  grid-area: item7;
  height: 300px;
  margin: 15px;
  background-image: url(./pages/img/silla1.jpg);
  background-size: cover;
  background-position: center;
}

.item8 {
  grid-area: item8;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.8078431373);
}

.tu-beige {
  height: 100px;
  background-color: #fff;
  text-align: center;
  font-size: 30px;
  color: beige;
}

.tu-pink {
  height: 100px;
  background-color: #fff;
  text-align: center;
  font-size: 40px;
  color: pink;
}

.tu-black {
  height: 100px;
  background-color: #fff;
  text-align: center;
  font-size: 50px;
  color: black;
}

footer {
  height: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.8078431373);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "pagos redes contacto " "tarjetas instagram email  " ". . . " ". derechos  .";
}

.pagos {
  grid-area: pagos;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  font-size: 20px;
}

.tarjetas {
  grid-area: tarjetas;
  text-align: center;
  font-size: 25px;
  letter-spacing: 15px;
}

.redes {
  grid-area: redes;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  font-size: 20px;
}

.fa-instagram:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  color: burlywood;
}

.fa-whatsapp:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  color: burlywood;
}

.instagram {
  grid-area: instagram;
  text-align: center;
  font-size: 25px;
  letter-spacing: 15px;
}

footer i {
  color: #fff;
}

.contactoFooter {
  grid-area: contacto;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  font-size: 20px;
}

.email {
  grid-area: email;
  text-align: center;
  color: #fff;
  font-size: 15px;
}

.derechos {
  grid-area: derechos;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.formulario {
  background-color: #fff;
  top: 50%;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.5333333333);
  border-radius: 5px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.contacto {
  width: 100%;
  color: rgba(0, 0, 0, 0.8078431373);
  overflow: hidden;
  padding: 10px;
}
.contacto .nombre {
  padding-top: 30px;
}

.contacto label, .contacto input, .contacto textarea {
  width: 100%;
  margin-bottom: 8px;
}

.contacto input:not([type=submit]), .contacto textarea {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8078431373);
  margin-bottom: 20px;
  font-size: 20px;
  outline: none;
}

.enviar:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.enviar {
  background-color: rgba(0, 0, 0, 0.8078431373);
  color: #fff;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.nosotros2 {
  padding: 10px;
}

.nosotros3 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding: 40px;
  color: rgba(0, 0, 0, 0.8078431373);
}

.productos {
  height: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: "sillon mesa" "tituloSillon tituloMesa" "perchero deco1" "tituloPerchero tituloDeco";
}

.producto:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  text-decoration: none;
  color: burlywood;
}

.sillon {
  grid-area: sillon;
  height: 300px;
  margin: 15px;
  background-image: url(./pages/img/sillon2.jpg);
  background-size: cover;
  background-position: center;
}

.mesa {
  grid-area: mesa;
  height: 300px;
  margin: 15px;
  background-image: url(./pages/img/mesaJuliaBlanca.jpg);
  background-size: cover;
  background-position: top;
}

.tituloSillon {
  grid-area: tituloSillon;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.8078431373);
}

.tituloMesa {
  grid-area: tituloMesa;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.8078431373);
}

.perchero {
  grid-area: perchero;
  height: 300px;
  margin: 15px;
  background-image: url(./pages/img/perchero.jpg);
  background-size: cover;
  background-position: center;
}

.deco1 {
  grid-area: deco1;
  height: 300px;
  margin: 15px;
  background-image: url(./pages/img/marco.jpg);
  background-size: cover;
  background-position: center;
}

.tituloPerchero {
  grid-area: tituloPerchero;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.8078431373);
}

.tituloDeco {
  grid-area: tituloDeco;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.8078431373);
}

.numero {
  text-align: center;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.8078431373);
  color: #fff;
}

.sillones1 {
  font-family: "Rubik", Light, sans-serif;
  display: flex;
  flex-direction: row;
  grid-gap: 3px;
  padding-top: 5px;
  position: relative;
}

.inicio1:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.productos1:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.sillones1 a {
  text-decoration: none;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.8078431373);
}

.sillones1 p {
  padding-left: 8px;
  color: rgba(0, 0, 0, 0.8078431373);
}

.sillones2 {
  height: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.productoSillon1 {
  height: 300px;
  width: 85%;
  background-image: url(./pages/img/sillon3.jpg);
  background-position: center;
  background-size: cover;
}

.sillon1Precio, .sillon4Precio, .sillon3Precio, .sillon2Precio {
  height: 40px;
  width: 120px;
  margin-top: 10px;
  text-align: center;
  border: rgba(0, 0, 0, 0.8078431373) solid 1px;
}

.productosillon2 {
  height: 300px;
  width: 85%;
  margin-top: 15px;
  background-image: url(./pages/img/sillon2.jpg);
  background-position: center;
  background-size: cover;
}

.productosillon3 {
  height: 300px;
  width: 85%;
  margin-top: 15px;
  background-image: url(./pages/img/sillon7.jpg);
  background-position: center;
  background-size: cover;
}

.productosillon4 {
  height: 300px;
  width: 85%;
  margin-top: 15px;
  background-image: url(./pages/img/sillon6.jpg);
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .logo {
    height: 120px;
    padding-left: 0%;
  }

  .inicio {
    display: flex;
    flex-direction: column;
  }

  .nosotros1 {
    display: flex;
    flex-direction: column;
  }

  .sillon {
    height: 200px;
    margin: 10px;
  }

  .mesa {
    height: 200px;
    margin: 10px;
  }

  .perchero {
    height: 200px;
    margin: 10px;
  }

  .deco1 {
    height: 200px;
    margin: 10px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */